[mysqld]
character-set-server=utf8
sort_buffer_size=293255K
max_connections=34814
query_cache_size=78739K
myisam_sort_buffer_size=362743K
table_open_cache=180153
query_cache_type=0
datadir=/usr/local/mysql/data
key_buffer_size=344080K
innodb_buffer_pool_size=990985K
read_buffer_size=241980K
socket=/tmp/mysql.sock
port=3306
max_allowed_packet=352453K
basedir=/usr/local/mysql
thread_cache_size=1714